In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Q1: What is the version of Pandas that you installed?

In [4]:
pd.__version__

'2.3.2'

In [26]:
# Importing the dataset
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

### Q2. Records count

In [6]:
print("Number of entries:", df.shape[0])

Number of entries: 9704

### Q3. Fuel types

In [7]:
print("Number of fuel types:" , df['fuel_type'].nunique())

Number of fuel types: 2

### Q4. Missing values

In [8]:
print("Number of missing columns", df.isnull().sum())

Number of missing columns engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

### Q5. Max fuel efficiency

In [9]:
df.groupby('origin').fuel_efficiency_mpg.max()

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

### Q6. Median value of horsepower

In [14]:
stats_horsepower = df["horsepower"].describe()
stats_horsepower

count    8996.000000
mean      149.657292
std        29.879555
min        37.000000
25%       130.000000
50%       149.000000
75%       170.000000
max       271.000000
Name: horsepower, dtype: float64

In [20]:
# find the most frequent value
most_frequent_horsepower = df["horsepower"].mode()

In [21]:
df["horsepower"] = df["horsepower"].fillna(most_frequent_horsepower[0])

In [22]:
stats_horsepower = df["horsepower"].describe()
stats_horsepower

count    9704.000000
mean      149.828215
std        28.775248
min        37.000000
25%       131.000000
50%       152.000000
75%       168.000000
max       271.000000
Name: horsepower, dtype: float64

### Q7. Sum of weights

In [27]:
df = df[
    (df["origin"] == "Asia") ][
    ["vehicle_weight", "model_year"]]
df = df.iloc[:7]
df.head()

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016

In [ ]:
# create numpy array from the df
x = np.array(df)

In [ ]:
# calculate inverse matrix from inner product of x
XTX = x.T.dot(x)
XTX_inv = np.linalg.inv(XTX)

In [ ]:
# Add a new numpy array
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [34]:
# Caluculate inner product of XTX and y 
w = XTX_inv.dot(x.T).dot(y)

In [32]:
w.sum()

np.float64(0.5187709081074016)